<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:replace="fragments/head :: head">
    <title>New User - Shopme Admin</title>
</head>
<body>
<div class="container-fluid">
    <div th:replace="fragments/header :: header"></div>

    <div>
        <h2>Manage User</h2>

    </div>

    <form th:action="@{/users/save}" method="POST" style="max-width: 700px; margin: 0 auto"
          th:object="${user}">
        <div class="border border-secondary rounded p-3">
            <div class="form-group row my-2">
                <label class="col-sm-4 col-form-label">E-mail</label>
                <div class="col-sm-8">
                    <input type="email" class="form-control" th:field="*{email}" required minlength="8"
                           maxlength="128"/>
                </div>
            </div>
            <div class="form-group row my-2">
                <label class="col-sm-4 col-form-label">First Name</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" th:field="*{firstName}" required minlength="2"
                           maxlength="128"/>
                </div>
            </div>
            <div class="form-group row my-2">
                <label class="col-sm-4 col-form-label">Last Name</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" th:field="*{lastName}" required minlength="8"
                           maxlength="128"/>
                </div>
            </div>
            <div class="form-group row my-2">
                <label class="col-sm-4 col-form-label">Password</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" th:field="*{password}" required minlength="3"
                           maxlength="128"/>
                </div>
            </div>
            <div class="form-group row my-2">
                <label class="col-sm-4 col-form-label">Roles</label>
                <div class="col-sm-8">
                    <th:block th:each="role : ${listRoles}">

                        <input type="checkbox" class="m-2"
                               th:field="*{roles}"
                               th:text="${role.name}"
                               th:value="${role.id}"
                        />
                        - <small>[[${role.description}]]</small>
                        <br/>
                    </th:block>
                </div>
            </div>
            <div class="form-group row my-2">
                <label class="col-sm-4 col-form-label">Enable</label>
                <div class="col-sm-8">
                    <input type="checkbox" class="m-2" th:field="*{enabled}"/>
                </div>
            </div>
            <div class="text-center">
                <input type="button" value="Cancel" class="btn btn-secondary " id="buttonCancel"/>
                <input type="submit" value="Save" class="btn btn-primary m-2"/>
            </div>
        </div>
    </form>

    <div th:replace="fragments/footer :: footer"></div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#buttonCancel").on("click", function () {
            window.location = "[[@{/users}]]"
        })
    })
</script>
</body>

</html>
